*{margin:0;padding:0;box-sizing:border-box;font-family:Arial;}
body{background:#f4f6f9;color:#333;}

header{
background:#0f172a;
color:white;
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 40px;
}

.logo{height:50px;}

nav a{
color:white;
margin-left:20px;
text-decoration:none;
font-weight:bold;
}

.breaking-news{
background:#e11d48;
color:white;
padding:8px 20px;
}

.hero{
background:white;
margin:20px;
padding:20px;
border-radius:8px;
}

.categories{text-align:center;margin:20px;}

.categories button{
padding:10px 20px;
margin:5px;
background:#2563eb;
color:white;
border:none;
cursor:pointer;
border-radius:4px;
}

.news-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
gap:20px;
padding:20px;
}

.news-card{
background:white;
padding:15px;
border-radius:8px;
transition:0.3s;
}

.news-card:hover{transform:translateY(-5px);}

.news-card img{
width:100%;
height:180px;
object-fit:cover;
border-radius:6px;
}

.single-container{
max-width:800px;
margin:40px auto;
background:white;
padding:20px;
border-radius:8px;
}

.contact-section{
max-width:500px;
margin:40px auto;
background:white;
padding:20px;
border-radius:8px;
}

input,textarea{
width:100%;
padding:10px;
margin-bottom:10px;
}

button{
padding:10px;
background:#2563eb;
color:white;
border:none;
cursor:pointer;
}

footer{
background:#0f172a;
color:white;
text-align:center;
padding:20px;
margin-top:40px;
}
